<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>My name is Fenil KetanKumar Patel. I am currently enrolled in ‘Computer Programming. I completed my 12th grade back in India at ‘Info-city Junior Science College’. I have a keen interest in this course that’s why I have taken this course. My goal is to become a full-stack developer and to study more in that field. I like to code in my spare time, I also like to travel to new places, and I also like to play video games as I am very good at that.</p>
            <ul>
                <li>A good student with a fantastic GPA</li>
                <li>A good student, but grades just do not reflect that</li>
                <li>A student that gets by, because the experience is more important than the numbers</li>
            </ul>
            <ul>
                <li>I like to explore new places in Canada as I am new to this country.</li>
                <li>Besides I like to watch movies as well as v-logs from different people.</li>
                <li>Moreover, I like to play video games and I am very good at them.</li>
            </ul>
        </article>
    </section>
    <aside class="col-md-3">
        <h2>Coming Soon...</h2>
        <p>Stay tuned for future updates…</p>
    </aside>
</div>
